/*This CSS document was written in VS Code!*/
body {
    background-color: white;
    color: darkslategray;
    text-align: center;
    margin: 10%;
}

div.navbar {
    background: orange;
    position: fixed
}

footer {
    background: orange;
}