/*This CSS document was written in VS Code!*/
body {
    background-color: #282c34;
    color: white;
    text-align: center;
    margin: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

ul.navbar {
    background-color: #1b1d23;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li.nav {
    float: left;
/* Add a gray right border to all list items, except the last item (last-child) */
    border-right: 1px solid #bbb;
}

li.active {
    background-color: #333742;
    float: left;
    border-right: 1px solid #bbb;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.active a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.nav a:hover {
    background-color: #282c34;
}

li.active a:hover {
    background-color: #282c34;
}

li.nav:last-child {
    border-right: none;
} 

li.active:last-child {
    border-right: none;
} 

footer {
    background-color: #1b1d23;
}

p {
    text-align: left;
    text-indent: 5%;
}

img {
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 2%;
    align-items: right;
}

h1.center {
    text-align: center;
}

h3.center {
    text-align: center;
}

p.center {
    text-align: center;
}

ol {
    text-align: left;
}

li {
    text-align: left;
}

a {
    color: white;
}

a:hover {
    color: #d94221;
}